body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-section{
    margin-bottom: 100px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 150px;
    margin-right: 170px;
}
.half-width h1,h2{
    font-size: 50px;
    font-weight: 500;
}
.name{
    color: orange;
}
.connect-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.half-width h3{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 10px;
}
.half-width p{
    font-weight: 300;
    color: dimgray;
}
.image{
    width: 100%;
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    display: flex;
    margin-bottom: 100px;
}
.last-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    margin-bottom: 150px;
}
.last-section h1,h2{
    font-size: 50px;
    font-weight: 600;
}
.last-parent{
    display: flex;
}
.exp-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 45px grey;
    padding-bottom: 100px;
    margin-bottom: 107px;
    border-left: 10px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
#bg{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1; 
}
.col{
    color: #696969;
}
footer{
    text-align: center;
    margin-bottom: 100px;
}